{{#partial "title" }}
    Add Your New Hero Form
{{/partial}}

{{#partial "css"}}/css/heroForm.css{{/partial}}

{{#partial "content"}}
    <h1 xmlns="http://www.w3.org/1999/html">Add Your New Hero </h1>
        <form action="/heroForm">
           <label for="name">Name </label><br>
           <input type="text" id = "name" name="name"> <br>

           <label for="age">Age </label><br>
           <input type="text" id = "age" name="age"> <br>

           <label for="specialPower">SpecialPower </label><br>
           <input type="text" id = "specialPower" name="specialPower"> <br>

           <label for="weakness">Weakness </label><br>
           <input type="text" id = "weakness" name="weakness"> <br>

           <input type="submit" value="Submit">
       </form>

{{/partial}}

{{> layout.hbs}}