{{#partial "content"}}

    <h1>Welcome To The Hero Squad App. Let the Games begin !!! </h1>

    <p>Are you ready for the thrill ? Buckle up !!!! </p>
    <p>Create and add your favorite Heroes on the <a href='/heroes/new'>New Heroes Entry Page</a> page </p>
    <p>Create and ready your squad on the <a href='/squads/new'>New Squad Entry Page</a> page </p>

{{/partial}}

{{> layout.hbs}}