{{#partial "title" }}
    Build Your Squad Form
{{/partial}}

{{#partial "content"}}
<h1 xmlns="http://www.w3.org/1999/html">Lets Build a Squad of Your Favorite Heroes !!! </h1>
    <form action="/heroForm">
        <label for="maxSize">Max Size </label><br>
        <input type="text" id = "maxSize" name="maxSize"> <br>

        <label for="name">Name </label><br>
        <input type="text" id = "name" name="name"> <br>

        <label for="cause">Cause</label><br>
        <input type="text" id = "cause" name="cause"> <br>

        <input type="submit" value="Submit">
    </form>

{{/partial}}

{{> layout.hbs}}